@import url("_includes/styles/_fonts.css");
@import url("_includes/styles/_reset.css");
@import url("_includes/styles/_syntax.css");

:root {
  /* Colors */
  --background-color: #fff;
  --text-color: #000;
  --link-color: #2754d8;

  /* Fonts */
  --body-font: "Fira Code", ui-monospace, monospace;
  --bold: "Fira Code Bold", var(--body-font);
  --monospace: var(--body-font);
  --extra-small: .85rem;
  --small: 1rem;
  --medium: 1.25rem;
  --large: 1.5rem;

  /* Pagefind */
  --pagefind-ui-font: var(--body-font);
}

@media (prefers-color-scheme: dark) {

  /* I've nested the dark mode styles in the intial :root declaration on other sites, but doesn't work here for some reason. */
  :root {
    /* Dark mode styles */
    --background-color: #000;
    --text-color: #fff;
    --link-color: #6699ff;
    /* Pagefind */
    /* 
      - https://rknight.me/blog/using-pagefind-with-eleventy-for-search/ 
      - https://pagefind.app/docs/ui-usage/#customising-the-styles
    */
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #eeeeee;
    --pagefind-ui-background: #152028;
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
  }
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  padding: 1rem;
  font-family: var(--body-font);
  font-size: var(--medium);
  justify-content: center;
}

header {
  display: grid;
  gap: 2rem;
}

/* Contains nav and main site link */
header div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav {
  display: flex;
  gap: 2rem;
}

.content {
  /* Center content */
  margin: 0 auto;
}

/* Separates note content from header */
main>.content {
  max-width: 50rem;
}

main>.content a,
footer a {
  font-family: var(--bold);
}

main p {
  text-align: justify;
  hyphens: auto;
}

h1 {
  margin: 0;
  text-align: center;
}

h2 {
  text-align: right;
  border-bottom: 1px dotted;
}

a {
  color: var(--link-color);
  text-decoration-thickness: 1px;
  text-decoration-style: solid;
  text-underline-offset: 0.1em;
}

a:not(.skiplink):hover,
a:not(.skiplink):focus,
a:not(.skiplink):active {
  text-decoration: none;
  opacity: 70%;
}

a[href^="https"] {
  text-decoration-style: dotted;
}

a[href^="https"]::after {
  content: "➚";
}

ul.notes {
  display: grid;
  gap: 1rem;
}

pre,
code {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  font-family: var(--monospace);
}

pre {
  padding: 1rem;
}

pre code {
  border: none;
}

footer {
  text-align: center;
  font-size: var(--small);
}

.skiplink {
  background-color: var(--background-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 1em;
  z-index: 1;
  position: absolute;
  translate: -1000%;
  transition-duration: 0.25s;
}

.skiplink:focus {
  translate: 0;
}

.site.title {
  text-decoration: none;
  text-align: center;
  font-size: var(--large);
  font-weight: 600;
}

/* Need the chaining here, otherwise other link rules take precendence for some reason. Must have something to do with the (not) operator. */
a.site.title:hover {
  text-decoration: underline;
}

.tags {
  list-style-type: none;
  padding: 0;
}

.tags.page {
  display: grid;
  gap: 1rem;
}

.tags.note {
  font-style: italic;
  font-size: var(--small);
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

a.tag {
  text-decoration: none;
}

a.tag:hover,
a.tag:focus {
  text-decoration: underline;
}