@import url("_includes/styles/_fonts.css");
@import url("_includes/styles/_reset.css");
@import url("_includes/styles/_config.css");
@import url("_includes/styles/_syntax.css");

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  margin: 0 auto;
  padding: 1rem;
  font-family: var(--font-body);
  font-size: var(--font-medium);
  display: flex;
  flex-direction: column;
}

header.site {
  margin-bottom: 2rem;
}

header.page {
  text-align: center;
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
}

header.page>* {
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--font-small);
}

nav a {
  padding: 0.25em 0.75em;
}

.page-content {
  display: flex;
  flex-direction: column;
}

article.note,
div.content {
  /* Center content */
  margin: 0 auto;
  max-width: 50rem;
}

main {
  flex: 1;
}

main>.content a,
footer a {
  font-family: var(--bold);
}

main p,
main ul,
main ol {
  text-align: justify;
  hyphens: auto;
  margin: 1.5rem 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--bold);
  margin-top: 4rem;
}

h1 {
  margin: 0;
  line-height: 1;
  text-wrap: balance;
  font-variant: small-caps;
  text-transform: lowercase;
}

h2 {
  text-align: right;
  text-wrap: balance;
  font-style: italic;
  font-weight: 400;
  border-top: 1px solid;
  margin-top: 2em;
}

a {
  color: var(--text-color);
  font-variant: small-caps;
  text-transform: lowercase;
  text-decoration: none;
}

a:not(.skiplink):hover,
a:not(.skiplink):focus,
a:not(.skiplink):active {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
}

ul.notes {
  display: grid;
  gap: 1rem;
}

small {
  font-size: var(--font-small);
}

code {
  font-family: var(--font-body);
  font-style: italic;
  font-weight: 700;
}

pre {
  border-radius: 5px;
  padding: 1rem;
}

pre code {
  font-style: normal;
}

footer {
  text-align: center;
  font-size: var(--font-small);
  margin-top: 4rem;
}

.skiplink {
  background-color: var(--background-color);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 1em;
  z-index: 1;
  position: absolute;
  translate: -1000%;
  transition-duration: 0.25s;
}

.skiplink:focus {
  translate: 0;
}

.site.title {
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}

/* Need the chaining here, otherwise other link rules take precendence for some reason. Must have something to do with the (not) operator. */
a.site.title:hover {
  text-decoration: underline;
}

.tags {
  list-style-type: none;
  padding: 0;
}

.tags.page {
  display: grid;
  gap: 1rem;
}

.tags.note {
  font-size: var(--font-small);
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

a.tag {
  text-decoration: none;
}

input:focus {
  outline: none;
}

blockquote {
  border-left-style: solid;
  border-left-width: 1px;
  margin: 0 1rem;
  padding-left: 1rem;
  font-style: italic;
}

cite {
  font-style: normal;
}

::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

/* Nested lists */
li ul {
  margin: 0;
}