@import url("_includes/styles/_reset.css");

/* @import url("/src/styles/_fonts.css"); */

:root {
  /* Colors */
  --background-color: #fff;
  --text-color: #000;
  --link-color: #2754d8;

  /* Fonts */
  --body-font: var(--monospace);
  --monospace: ui-monospace, monospace;
}

@media (prefers-color-scheme: dark) {
  /* I've nested the dark mode styles in the intial :root declaration on other sites, but doesn't work here for some reason. */
  :root {
    /* Dark mode styles */
    --background-color: #000;
    --text-color: #fff;
    --link-color: #6699ff;
  }
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  margin: 0 auto;
  padding: 1rem;
  max-width: 50rem;
  font-family: var(--body-font);
  font-size: 1.25rem;
}

header {
  display: grid;
  gap: 1rem;
}

/* Contain nav and main site link */
header div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main p {
  text-align: justify;
  hyphens: auto;
}

h1,
h2,
h3 {
  font-variant: small-caps;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  text-align: right;
  border-bottom: 1px dotted;
}

a {
  color: var(--link-color);
  text-underline-offset: 0.2em;
}

a:hover,
a:focus {
  text-decoration: none;
}

footer {
  text-align: center;
}

.site-title {
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
}

.site-title:hover {
  text-decoration: underline;
}

/* Utilities */
.visually-hidden {
  position: absolute;
  translate: -1000%;
}
