---
title: Page Not Found
permalink: 404.html
---

<p>
  It looks like this page doesn't exist. Most likely this is a private note, and
  has been excluded from this site by default. You can check for that by looking
  the URL in your address bar. If it includes <code>/private/</code>, then it's
  a private note.
</p>

<p>
  If this definitely seems like a page that <em>should</em> exist, please
  <a href="mailto:sam@samfeldstein.xyz">email me</a>.
</p>
