---
layout: base
title: Colophon | Sam Feldstein's Notebook
pageTitle: Colophon
---

<p>I built this website with a <a href="https://en.wikipedia.org/wiki/Static_site_generator">static site generator</a>
  called <a href="https://www.11ty.dev/">Eleventy</a>. The notes are <a
    href="https://www.markdownguide.org/">markdown</a> files which Eleventy converts to html. I write and manage the
  markdown files with <a href="https://obsidian.md/">Obsidian</a>.</p>

<p>
  The site uses the <a href="https://www.1001fonts.com/cmu-font.html">Computer Modern Typewriter font</a> by <a
    href="https://en.wikipedia.org/wiki/Donald_Knuth">Donald Knuth</a>, licensed under the <a
    href="http://scripts.sil.org/OFL">SIL Open Font License (OFL)</a>.
</p>