{% if backlinks.length > 0 %}
<section>
  <h2>Backlinks</h2>
  <ul>
    {% for backlink in backlinks %}
    <li>
      <a href="{{ backlink.url }}">{{ backlink.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}