<footer>
  <div class="footer-links"><a href="https://github.com/samfeldstein">GitHub</a><a
      href="mailto:sam@samfeldstein.xyz">Email</a><a href="/colophon/">Colophon</a></div>

  <div>
    I built this website with <a href="https://www.11ty.dev">Eleventy</a>.
  </div>
</footer>