<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {# If building for production, use site url. Must be set for relative links to work. #}
  {% if meta.environment != "development" %}
    <base href="{{ meta.site.url }}"/>
  {% else %}
    <base href="http://localhost:8080/">
  {% endif %}

  <title>{{ title }} | {{ meta.site.title }}</title>
  <meta
    name="description"
    content="{{ description or meta.site.description }}"
/>
  <meta name="generator" content="{{ eleventy.generator }}"/>
</head>