<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="http://localhost:8080/" />
  <title>{{ title }} | {{ meta.site.title }}</title>
  <meta
    name="description"
    content="{{ description or meta.site.description }}"
  />
  <meta name="generator" content="{{ eleventy.generator }}" />
</head>
