<!DOCTYPE html>
<html lang="en">

  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    <a class="skiplink" href="#main-content">Skiplink</a>

    <header class="site">
      <a class="site title" href="/">{{ config.site.title }}</a>
      {% include "partials/nav.njk" %}
    </header>
    <main id="main-content">
      <header class="page">
        <h1>{{ pageTitle or title }}</h1>
      </header>
      <div class="content">
        {{ content | safe }}
      </div>
    </main>
    {% include "partials/footer.njk" %}

  </body>

</html>