<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.njk" %}
  <body>
    <a href="/">Eleventy Foam Template</a>
    <h1>{{ title }}</h1>
    {{ content | safe }}
    {% include "partials/footer.njk" %}
  </body>
</html>