---
ogType: article
---

<!DOCTYPE html>
<html lang="en">
  {% include "partials/head.njk" %}

  <body>
    <a class="skiplink" href="#main-content">Skiplink</a>

    <header class="site">
      <div class="nav container">
        {% include "partials/nav.njk" %}
      </div>
    </header>

    <main id="main-content">
      <header class="page note">
        <h1>{{ title }}</h1>
        {% if tags and tags.length > 0%}
        <ul class="tags note">
          {%- for tag in tags | filterTagList %} {%- set tagUrl %}/tags/{{
          tag | slugify
          }}/{% endset %}
          <li>
            <a href="{{ tagUrl }}" class="tag">#{{ tag }}</a>{%- if not loop.last %}, {% endif %}
          </li>
          {%- endfor %}
        </ul>
        {% endif %}

        <small>
          <i>
            {% if updated %}
            Updated on <time datetime="{{ updated }}">{{ updated | readableDate }}</time>
            {% endif %}
          </i>
        </small>
      </header>
      <div class="content">
        {{ content | safe }}
        {% include "partials/backlinks.njk" %}
        {% include "partials/footnotes.njk" %}
      </div>

    </main>

    {% include "partials/footer.njk" %}
  </body>

</html>